
:root {
    --background-color: rgb(240, 226, 211);
    --main-color: rgb(79, 94, 104);
    --table-button-color: rgb(223, 132, 99);
    --box-shadow-color: black;
    --table-accent: rgb(121, 93, 56);
    --hyperlink-color: rgb(139, 29, 29);
    --table-text-color: rgb(70, 67, 67);
}

body{

    background-color: var(--background-color);
    color: var(--main-color);
    font-family: cursive, monospace;
}

.newsletter {
    background-color: var(--background-color);
}

[type="text"], [type="email"], [type="number"] {
    background-color: var(--table-button-color);
}

.evaluation-table {
    display:grid;
    grid-template-rows: auto auto;
    justify-content: center;
}

.intro {
    max-width: 700px;
    margin: auto;
    margin-bottom: 50px;
}

label {
    color: var(--main-color);
}

.button-news {
    background: linear-gradient(45deg, var(--table-button-color), var(--table-button-color), var(--hyperlink-color));
    font-size: 20px;
    box-shadow: 2px 5px 10px var(--box-shadow-color);
}

#dropdown {
    background-color: var(--table-button-color);
    font-size: 16px;
    
}


/*Newsletter (forms input css)*/
#subscribe-form {
    font-family: monospace, cursive;
    color: var(--table-accent);
    display: table;
    margin: auto;
}

/*over 4 different types of css styles*/
#subscribe-form > label > input {
    font-family: cursive, monospace, sans-serif;
    font-weight: bold;
    font-size: 20px;
    font-style: oblique;
    background-color: var(--table-button-color);
    border-style: dotted;
    border-width: thick;
}
 /*another style change that lighten up when ur focus on the line*/
#subscribe-form > label > #phone-number:focus, #fullname:focus, #email:focus {
    opacity: .95;
}

#subscribe-form > label {
    font-size: 20px;
    font-family: cursive, monospace, sans-serif;
    font-weight: bold;
    color: var(--table-text-color);
}


#subscribe-form > label > #phone-number, #fullname, #email {
    width: 100%;
}

.table-html {

    background-color: var(--background-color);
    color: var(--main-color);
    font-family: cursive, monospace;
    width: 750px;
    margin: 0 auto;
}

button {
    font-family: monospace, cursive;
    font-weight: bold;
    margin-left: 45%;
    margin-right: 45%;
    margin-bottom: 16px;
    background-color: var(--table-button-color);
}

.lists {
    font-family: cursive, monospace;
    margin-left: 200px;
    margin-right: 200px;
}

header {
    font-family: cursive, monospace;
    text-align: center;
    margin: auto;
    padding-top: 35px;
} 

footer {
    font-family: Lobster, cursive, monospace;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
}

h2 {
    font-family: cursive, monospace;
    text-align: center;
    margin-top: -40px;
}

#contactInfo {
    line-height: 20px;
    text-align: center;
}

p {
    font-family: cursive, monospace;
    text-align: left;
    line-height: 30px;
    margin-top: 0px;
    margin-bottom: 16px;
    margin-left: 25%;
    margin-right: 25%;
}

h1, h3, h4 {
    font-family: cursive, monospace;
    text-align: center;
    line-height: 30px;
    margin-top: 0px;
    margin-bottom: 16px;
    margin-left: 25%;
    margin-right: 25%;
}

.hyperlink {
    font-family: Lobster, cursive, monospace;
    text-align: center;
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 75px;
}

.hyperlink-text {
    font-family: Lobster, cursive, monospace;
    text-decoration: none;
    color: var(--hyperlink-color);
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
}

figure {
    text-align: center;
}

figcaption {
    font-style: italic;
    font-family: Lobster, cursive, monospace;

}

nav {
    text-align: center;
}

.page-built {
    margin-top: -50px;
}

table {
    margin:auto;
    border-collapse: collapse;
}

thead {
    background-color: var(--background-color);
    color: var(--table-text-color);
}

th, td {
    border: 1px solid black;
    padding: .2em 1em .2em .5em;
    text-align: left;
    vertical-align: middle;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

tbody tr:nth-child(odd) td {
    background-color: var(--table-button-color);
    color: var(--table-text-color);
}

.employee-list {
    
    display: table;
    margin:auto;

}

.great-webpage {
    text-align: left;
}

.page-built {
    text-align: center;
}

.bad-webpage {
    text-align: left;
}

#hyper-link-link {
    font-family: Lobster, cursive, monospace;
    text-decoration: none;
    color: var(--hyperlink-color);
    text-align: center;
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 150px;
    margin-left: 46.5%;
    text-decoration: underline;
}
/* Polygon */
#polygonInfoSender {
    margin-left: 45%;
    width: 200px;
}


/* ===========================================Calculator CSS=============================================== */

.calculator {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    max-width: 15em;
    display: grid;
    grid-template-rows: 1fr 10fr;
    
}


.calculator__display {
    background-color: black;
    color: white;
    font-weight: bolder;
    text-align: right;
    padding-right: 25px;
    padding-top: 5px;
    border-radius: 5px;
}

.calculator__keys {
    display: grid;
    column-gap: 0;
    grid-gap: 1px;
    grid-template-columns: repeat(4, 1fr);
    column-gap: normal;
    
}

.calculator__keys >* {
    display: block;
    justify-content: stretch;
    justify-content: stretch;
    padding: 1.5rem 1.5rem;
    gap: 0;
    margin: 0;
    font-size: 20px;
}

.calculator__keys >*:hover {
    background-color: rgb(223, 132, 99, .9);
}

.key--equal {
    grid-row: 2 / span 4;
    grid-column: 4;
}
