
body{

    background-color: darkgray;
    color: orangered;
    font-family: cursive, monospace;
}

.newsletter {
    background-color: rgb(121, 114, 114);
}

[type="text"], [type="email"], [type="number"] {
    background-color: orange;
}



.intro {
    max-width: 700px;
    margin: auto;
    margin-bottom: 50px;
}

label {
    color: rgb(243, 107, 57);
}

.button-news {
    background: linear-gradient(45deg, rgb(119, 77, 77), rgb(196, 151, 68),orange, rgb(139, 45, 45));
    font-size: 20px;
    box-shadow: 2px 5px 10px black;
}

#dropdown {
    background-color: orange;
    font-size: 16px;
    
}

#subscribe-form {
    font-family: monospace, cursive;
    color: orangered;
    display: table;
    margin: auto;
}

.table-html {

    background-color: darkgray;
    color: orangered;
    font-family: cursive, monospace;
    width: 750px;
    margin: 0 auto;
}

.lists {
    font-family: cursive, monospace;
    margin-left: 200px;
    margin-right: 200px;
}

header {
    font-family: cursive, monospace;
    text-align: center;
    margin: auto;
    padding-top: 35px;
} 

footer {
    font-family: Lobster, cursive, monospace;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
}

h2 {
    font-family: cursive, monospace;
    text-align: center;
    margin-top: -40px;
}

h1, h3 {
    font-family: cursive, monospace;
    text-align: center;
    line-height: 10px;
    margin-top: 0px;
}

.hyperlink {
    font-family: Lobster, cursive, monospace;
    text-align: center;
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 75px;
}

.hyperlink-text {
    font-family: Lobster, cursive, monospace;
    text-decoration: none;
    color: darkred;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
}

figure {
    text-align: center;
}

figcaption {
    font-style: italic;
    font-family: Lobster, cursive, monospace;

}

nav {
    text-align: center;
}

.page-built {
    margin-top: -50px;
}

table {
    margin:auto;
    border-collapse: collapse;
}

thead {
    background-color: rgba(255, 68, 0, 0.514);
    color: white;
}

th, td {
    border: 1px solid black;
    padding: .2em 1em .2em .5em;
    text-align: left;
    vertical-align: middle;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

tbody tr:nth-child(odd) td {
    background-color: orangered;
    color: white;
}

.employee-list {
    
    display: table;
    margin:auto;

}