
:root {
    --background-color: rgb(153, 145, 145);
    --main-color: rgb(100, 69, 58);
    --table-button-color: rgb(223, 132, 99);
    --box-shadow-color: black;
    --table-accent: rgb(121, 93, 56);
    --hyperlink-color: rgb(139, 29, 29);
    --table-text-color: white;
}

body{

    background-color: var(--background-color);
    color: var(--main-color);
    font-family: cursive, monospace;
}

.newsletter {
    background-color: var(--background-color);
}

[type="text"], [type="email"], [type="number"] {
    background-color: var(--table-button-color);
}



.intro {
    max-width: 700px;
    margin: auto;
    margin-bottom: 50px;
}

label {
    color: var(--main-color);
}

.button-news {
    background: linear-gradient(45deg, var(--table-button-color), var(--table-button-color), var(--hyperlink-color));
    font-size: 20px;
    box-shadow: 2px 5px 10px var(--box-shadow-color);
}

#dropdown {
    background-color: var(--table-button-color);
    font-size: 16px;
    
}

#subscribe-form {
    font-family: monospace, cursive;
    color: var(--table-accent);
    display: table;
    margin: auto;
}

.table-html {

    background-color: var(--background-color);
    color: var(--main-color);
    font-family: cursive, monospace;
    width: 750px;
    margin: 0 auto;
}

.lists {
    font-family: cursive, monospace;
    margin-left: 200px;
    margin-right: 200px;
}

header {
    font-family: cursive, monospace;
    text-align: center;
    margin: auto;
    padding-top: 35px;
} 

footer {
    font-family: Lobster, cursive, monospace;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
}

h2 {
    font-family: cursive, monospace;
    text-align: center;
    margin-top: -40px;
}

h1, h3 {
    font-family: cursive, monospace;
    text-align: center;
    line-height: 10px;
    margin-top: 0px;
}

.hyperlink {
    font-family: Lobster, cursive, monospace;
    text-align: center;
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 75px;
}

.hyperlink-text {
    font-family: Lobster, cursive, monospace;
    text-decoration: none;
    color: var(--hyperlink-color);
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
}

figure {
    text-align: center;
}

figcaption {
    font-style: italic;
    font-family: Lobster, cursive, monospace;

}

nav {
    text-align: center;
}

.page-built {
    margin-top: -50px;
}

table {
    margin:auto;
    border-collapse: collapse;
}

thead {
    background-color: var(--background-color);
    color: var(--table-text-color);
}

th, td {
    border: 1px solid black;
    padding: .2em 1em .2em .5em;
    text-align: left;
    vertical-align: middle;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

tbody tr:nth-child(odd) td {
    background-color: var(--table-button-color);
    color: var(--table-text-color);
}

.employee-list {
    
    display: table;
    margin:auto;

}