:root {
    background-color: #84847b;
    font-family: sans-serif;
}

body {
    width: 100vw;
}

h1 {
    width: 1100px;
    color: #5ce1e6;
    letter-spacing: 4px;
    background-color: #545454;
    right: 30%;
    font-size: 3.5em;
    margin-bottom: .5em;
    border: solid 8px rgb(211, 193, 193);
    padding-left: 4em;
    box-shadow: 2px 2px 10px black;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Dancing Script', cursive;
    
}

#image_ajax {
    display: inline-block;
    margin-left: 40px;
    width: 1000px;
}

#image_ajax>img {
    margin-left: 30px;
}

h1>img{
    margin-right: 1em;
    float: left;
    border-radius: 50%;
    border: 8px solid rgb(211, 193, 193);
}

h2, h3, h4 {
    font-family: sans-serif;
}

h2{
    background-color: #545454;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 200px;
    border: solid 2px rgb(211, 193, 193);
    color: #5ce1e6;
    box-shadow: 2px 2px 10px black;
    letter-spacing: 3px;
}

a {
    text-decoration: none;
    text-decoration: underline;
    color: #5ce1e6;
    font-size: 24px;
    
}

a:hover {
    color: #2e6e70;
    font-size: 26px;
}

nav {
    font-size: 20px;
    width: 1800px;
}

.homePageBox {
    width: 1800px;
    height: 40px;
    max-height: 45px;
    margin-bottom: 5vh;
}

.homePageDiv {
    background-color: #545454;
    border: solid 8px rgb(211, 193, 193);
    /*height: auto;*/
    width: 75vw;
    /*height: 120vh;*/
    margin-left: auto;
    margin-right: auto;
    padding-left: 5vw;
    padding-right: 5vw;
    width: 1150px;
}

form {
    width: fit-content;
    height: fit-content;
    float: right;
    margin-top: -600px;
    margin-right: 5vw;
}

li {
    display: inline;
}

#foodSlideShow {
    float: left;
    /*padding-right: 2%;*/
    background-color: black;
}

footer {
    display: inline-block;
    text-align: center;
    width: 95vw;
    height: auto;
    margin-left: 1.5%;
    margin-top: 1%;
    
}

.picThumbnail {
    padding-left: 4%;
    padding-top: 2%;
    
}


.picThumbnail>li {
    outline: rgb(211, 193, 193) solid 4px;
    margin: 2%;
    box-shadow: 1px 7px 11px #5ce1e6;
}

label {
    font-size: 24px;
    color: #5ce1e6;
}

input {
    font-size: 16px;
    height: 32px;
    background-color: rgb(211, 193, 193);
    color:#368588;
}

input[type="button"]{
    font-size: 36px;
    font-weight: bolder;
    outline: rgb(211, 193, 193) solid 4px;
}

input[type="button"] {
    width: 200px;
    height: 75px;
}

.validateButtons>a {
    padding-top: 4%;
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 4%;
    
}

.validateButtons{
    background-color: #545454;
    border: solid 8px rgb(211, 193, 193);
    padding-top: 2%;
    padding-bottom: 2%;
    letter-spacing: 4px;
    box-shadow: -2px -2px 10px black;
}

.menuCss {
    display: block;
    width: 30%;
    height: auto;
    padding-left: 15%;
    line-height: 36px;
    color:rgb(211, 193, 193);
    font-size: 20px;
}

.menuPageDiv {
    background-color: #545454;
    border: solid 8px rgb(211, 193, 193);
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding-left: 2%;
    padding-bottom: 0%;
    width: 1150px;
}

.menuPageDiv>ul{
    display: inline-block;
}

.menuPageDiv>ul>li {
    display: block;
}

.storeHour > li {
    display: block;
}


.storeHourParagraphs, .storeHour {
    padding-left: 30%;
    color:rgb(211, 193, 193);
    font-size: 24px;
}

.storeHourParagraphs{
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 36px;
    align-items: center;
}

.donationImg {
    padding-left: 10%;
    padding-top: 8%;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    text-align: center;
    color:rgb(211, 193, 193);
    font-size: 34px;
}

.classParagraphs{
    padding-left: 15%;
    padding-right: 15%;
    line-height: 40px;
}

.donationSite, p {
    font-size: 24px;
    color:rgb(211, 193, 193);
}

.donationText {
    padding-left: 14%;
}

.storeHourImg {
    margin-left: 14%;
    margin-bottom: 2%;
    outline: rgb(211, 193, 193) solid 4px;
}


#inputDisplay {
    outline: rgb(211, 193, 193) solid 4px;
    width: 1000px;
    height: auto;
    justify-content: center;
    align-content: center;
    padding-left: 5%;
}

#accordion {
    margin-right: 3%;
}

#accordion>div>p {
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    color: #545454;
    
}
