<nav>
    &#x272D;
    <a href="index.html">Home Page</a>
    &#x272D;
    <a href="menu.html">Menu</a>
    &#x272D;
    <a href="store_hours.html">Store Hours</a>
    &#x272D;
    <a href="donations.html">Donations</a>
    &#x272D;
    <a href="about_us.html">About Us</a>
    &#x272D;
</nav>

<p class="page-built"><a href="../brand/index.html">&copy; Angry Dyslexic Beaver co.</a></p>

<div class="validateButtons">
    
    <!--
    <a href="https://validator.w3.org/check?uri=referer">
        Validate Html
    </a>

    <a href="https://jigsaw.w3.org/css-validator/check/referer">
        Validate CSS
    </a>
    -->

    <a href="https://jigsaw.w3.org/css-validator/check/referer">Validate CSS</a>
    <a href="https://validator.w3.org/check?uri=referer">Validate HTML</a>

</div>
