<!--component footer start-->
<a target=_blank  href="https://webpages.uncc.edu/abrow359/">Charlotte.edu</a>
&#8487;
<a target=_blank href="https://github.com/andrewbrouncc">Github</a>
&#8487;
<a target=_blank href="https://AndrewBroUNCC.github.io/">Github.io</a>
&#8487;
<a target=_blank href="https://AndrewBroUNCC.github.io/itis3135">ITIS 3135 Github Pages</a>
&#8487;
<a target=_blank href="https://www.freecodecamp.org/abrow359uncc">freeCodeCamp</a>
&#8487;
<a target=_blank href="https://www.linkedin.com/in/andrew-brown-23791321b/">LinkedIn</a>

<!--component footer end-->