:root {
    
    /*https://coolors.co/35524a-627c85-779cab-a2e8dd-32de8a*/

    --primary-text-color: #35524A; /*dark slate gray*/
    --button-color: #627C85;    /*slate grey*/
    --table-link-color: #455d66; /*pewter blue updated to darker contrast*/
    --background-color: #A2E8DD; /*middle blue green*/
    --border-color: #32DE8A; /*medium spring green*/

    background-color: var(--background-color);
    color: var(--primary-text-color);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color:var(--border-color);
    font-size: 18px;
    font-weight: bold;
    margin: 0px 6px; 
}


nav {
    text-align: center;
    padding: 20px 0px;
    background-color: var(--table-link-color);
    color: var(--border-color);
    border: 2px solid var(--border-color);
}

a:hover {
    text-decoration: underline;
    color: #3e976c;
}

h1, h2 {
    font-weight: bold;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

p, h3, ul, ol {
    margin: 20px 15%;
    line-height: 32px;
    font-family: sans-serif;
}

img {
    width: 300px;
    height: 399px;
    display:table;
    margin: auto;
}

figcaption {
    text-align: center;
}

p, ul, ol {
    font-size: 18px;
}

.contract_paragraph {
    font-size: 20px;
    font-weight: bold;
    height: 50%;
    width: auto;
    line-height: 42px;
}